@use './theme/variables';
@use './theme/typography';
@use './theme/dark-mode';

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--color-page-bg-end);
  color: var(--color-text-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
